* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #184934;
    --cor2: #297A41;
    --cor3: #2A7E4F;
    --cor4: #FCFBFE;
}

.container1{
    background-color: var(--cor1);
}

main{
    background-color: var(--cor2);
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
    background-color: var(--cor3);
}

button {
    position: fixed;
    bottom: 0;
    right: 0;
}